<ion-header no-border>
  <ion-toolbar style="--background:blue;">
  
      <ion-row>
      <ion-col size="4">
      <ion-icon name="arrow-back-outline" style="color: white;font-size:20px;" 
      [routerLink]="['/dashboard']">
      </ion-icon></ion-col>
      <ion-col size="4">
      <h5 style="color: white;text-align: center;">My Profile</h5></ion-col>
      <ion-col>
      <ion-icon name="log-in-outline" style="color: white;font-size: 25px;float: right;"
       [routerLink]="['/login']"></ion-icon>
      </ion-col>
      </ion-row>
      <div>
          <ion-avatar>
            <img src="https://vignette.wikia.nocookie.net/caramella-girls/images/9/99/Blankpfp.png/revision/latest?cb=20190122015011">
          </ion-avatar>
          </div>
        <p style="color: white;text-align: center;"></p>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <h4 class="tag">Personal</h4>

          <ion-card mode="md">
            
            <ion-item lines="none" color="none">
            <ion-label class="my-info">Fullname :{{ name | titlecase }}</ion-label>
            <ion-icon class="my-info-icon" name="pencil" slot="end" routerDirection="forward"></ion-icon>
            </ion-item>

            <ion-item lines="none" color="none">
              <ion-label class="my-info">email: {{ email | titlecase }}</ion-label>
              <ion-icon class="my-info-icon" name="pencil" slot="end" routerDirection="forward"></ion-icon>
            </ion-item>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

 



</ion-content>

<ion-footer>
  <ion-button class="ion-margin-top" expand="block" (click)="update()">Update</ion-button>
</ion-footer>


