

*{
  font-family: 'Lato', sans-serif!important;
}
 .extra{
   border-radius:25%;
 }


[heading-column-lr]{
display: flex;
-ms-flex-align: center;
align-items: center;
}
[big-heading] {
  font-family: "Heebo-Bold"!important;
  font-size: 30px !important;
color: black;
}
ion-item {
  ion-input{
      color:black;
      font-size:14px;
  }
}
//.my-custom-class .alert-wrapper {
 //--background: #006f00;}


ion-content
  {
    
    --background: linear-gradient(#2193b0,#6dd5ed);
  }
 
  ion-button{
    --background: #42d77d;
    width: 50%;
    /* position: absolute; */
    left: 24%;
    top: 81%;
    position: relative;
    
  text-align: center;
    font-family: Arial, Helvetica!important;

    
}

ion-button{
  --background:#6dd5ed;

  --border-radius: 0em;
  width: 50%;
 

}

[small-heading]{
  font-family:'Lato', sans-serif !important; 
  margin-left:auto;padding-right:40px;font-size: 15px;
}
.logo-img{
  width: 11em;
  height: 6em;
  align-items: center;
  position: absolute;
  left: 26%;
  margin: 17px 0px 0px auto;
}

[transparent]{
  --background:transparent;
}
ion-input{
  color:#000;
  --padding-bottom:15px;
  --padding-top:15px;
  --padding-start:5px;

  font-style: normal;
 
  text-indent: 1px;
  padding-left: 10px!important;
}
[icon-small]{
  width:20px;
  margin: 0 0 0 18px;
}
ion-item{
  --highlight-color-focused:transparent;
  --highlight-height:0;
  --highlight-color-invalid:#000;
  --highlight-color-valid:#ddd;
  --min-height:65px;
 // --padding-start:0;
  --padding-start: 3%;
}
[linespace]{
height:30px;
}
ion-label{
  color:#000;
  opacity: .8;
  font-size:10px;
  font-weight:bold;
  display: block;
}
p{
  font-size: 10px;
  color: #fb3434;
    font-weight: bold;
     text-align: inherit;
}

.forgot-password{
  color: #000;
  font-size:10px;
  display: block;
  text-align: right;
  font-weight:bold;
  padding:10px;
}



ion-page.register > ion-content{
  background-color: transparent;
}
.me{
  position: relative;
    margin-top: 210px;
    left: 4%;
    width: 90%;

}
@media(min-height:320px){
  .center{
    position: fixed;
   left:50%;
    top:53%;
    -webkit-transform: translate(-49%, -49%);
    transform:  translate(-49%, -49%);
    width:90%;
  
  }
   
}
@media(min-height:735px){
  .center{
    position: absolute;
   left:50%;
    top:40%;
    -webkit-transform: translate(-49%, -49%);
    transform:  translate(-49%, -49%);
    width:90%;
  
  }
   
}

@media(min-height:812px){
  .center{
    position: absolute;
   left:50%;
    top:20%;
    -webkit-transform: translate(-49%, -49%);
    transform:  translate(-49%, -49%);
    width:90%;
  
  }
   
}


























