

*{
    font-family: 'Lato', sans-serif!important;
  }
   .extra{
     border-radius:25%;
   }
  
  .login-header{
    position: relative;
   
  border-radius: 0em;
    }
  
  
  //border-top-color: var(--theme-color);
  
  [heading-column-lr]{
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  }
  [big-heading] {
    font-family: "Heebo-Bold"!important;
    font-size: 30px !important;
    align-items: center;
    margin: 0 auto;
  }
  ion-item {
    ion-input{
        color:black;
        font-size:14px;
    }
  }
  
  ion-icon{
    color: blue;
  }
  
  ion-content{
      
    }
    .login-header{
      --background: linear-gradient(#2193b0,#6dd5ed);
    }
    
  
  [small-heading]{
    font-family:'Lato', sans-serif !important; 
    margin-left:auto;padding-right:40px;font-size: 15px;
  }
  .logo-img{
    width: 13em;
    height: 7em;
    align-items: center;
    position: absolute;
    left: 15%;
    margin: 0 auto;
  }
  
  [transparent]{
    --background:transparent;
  }
  ion-input{
    color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start:5px;
  
    font-style: normal;
   
    text-indent: 1px;
    padding-left: 10px!important;
  }
  [icon-small]{
    width:20px;
    margin: 0 0 0 18px;
  }
  ion-item{
    --highlight-color-focused:transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height:65px;
   // --padding-start:0;
    --padding-start: 3%;
  }
  [linespace]{
  height:30px;
  }
  ion-label{
    color:#000;
    opacity: .8;
    font-size:10px;
    font-weight:bold;
    display: block;
  }
  span{
    font-size: 12px;
    color: #fb3434;
      font-weight: bold;
       text-align: inherit;
  }
  
  .forgot-password{
    color: #000;
    font-size:10px;
    display: block;
    text-align: right;
    font-weight:bold;
    padding:10px;
  }
  
  ion-page.register > ion-content{
    background-color: transparent;
  }
  .me{
    position: fixed;
      margin-top: 140px;
      left: 4%;
      width: 90%;
  
  }
  
  
  .fix-bottom-button {
  position: fixed;
  bottom: 0px;
  }
  
  @media(min-height:320px){
    .center{
      position: fixed;
     left:50%;
      top:53%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }
  @media(min-height:735px){
    .center{
      position: absolute;
     left:50%;
      top:40%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }
  
  @media(min-height:812px){
    .center{
      position: absolute;
     left:50%;
      top:20%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }