
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

<ion-header>

  <div class="login-header" ion-padding>
  <img class="logo-img extra" src="..//../assets/Artboard 1.png" style="margin-top: 20px;">
  </div>

</ion-header>

<ion-content>

  <form [formGroup]="formcontrol" (ngSubmit)="register()">
  <div class="center">
  <div heading-column-lr>
  <h1 big-heading style="color: blue;margin-bottom: 40px;margin-top: 30px;">Signup</h1>  
  </div> 
    
<!-- ------------------Email------------- -->
<ion-item transparent>
  <ion-icon name="person" ></ion-icon>
 
  <ion-input clearInput formControlName="fullname" type="text" placeholder="Fullname" ></ion-input>
</ion-item>


<span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.required">
  Name is required.
</span>

<span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.minlength">
  Name must be at least 5 characters long.
</span>
<span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.pattern">
  Name must contain only letters.
</span>

<span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.maxlength">
  Name cannot be more than 20 characters long.
</span>



<ion-item transparent>

<ion-icon name="mail"></ion-icon>
<ion-input placeholder="Email" type="email" formControlName="email"></ion-input>
 
</ion-item>

<span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
Email-ID required
</span>

<span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
Please enter Valid Email-ID
</span>

    
<ion-button class="ion-button-class" expand="block" side="bottom"
(click)="register()" style="--background:blue;margin:0 auto;margin-top: 140px;">Sign Up</ion-button> 

 <ion-label class="ion-text-center" style="font-size: 12px;color: blue;">Already have an account?
<span class="link-button" [routerLink]="['/login']"
style="color: red;font-size: 12px;">Login
</span>
</ion-label>

  </div>
</form>

</ion-content>