
  <ion-header>
    <ion-toolbar style="--background: blue;--border-color:white;--border-width:1px;">
      <ion-buttons slot="start">
        <ion-icon name="chevron-back-outline" style="font-size:23px;color: white;" [routerLink]="['/dashboard']"></ion-icon>
        <h4 style="color: white;margin-left:15px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Make Payment</h4>
        </ion-buttons>
       </ion-toolbar>
     </ion-header>

<ion-content>
  
  <form [formGroup]="formcontrol" (ngSubmit)="grab()">

  <div class="center" style="margin-top: 60px;">

  <ion-item transparent>  
    <ion-icon name="person"></ion-icon>  
    <ion-input placeholder="Name" type="text" formControlName="fullname"></ion-input>
  </ion-item>

  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.required">
    Name is required.
  </span>
 
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.minlength">
    Name must be at least 5 characters long.
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.pattern">
    Name must contain only letters.
  </span>
 
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.fullname.errors?.maxlength">
    Name cannot be more than 20 characters long.
  </span>
 

  <ion-item transparent>
      
    <ion-icon name="call"></ion-icon>
    
    <ion-input placeholder="Number" type="number" formControlName="phone"></ion-input>
     
  </ion-item>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.required">
    Mobile number is required.
  </span>
 
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.pattern">
    Please enter 10 digit phone number
  </span>
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.maxLength">
 mobile number not valid </span>
 <span class="error ion-padding" *ngIf="isSubmitted && errorControl.phone.errors?.minLength">
  Please enter 10 digit phone number
   </span>


  <ion-item transparent>
      
    <ion-icon name="mail"></ion-icon>
    
    <ion-input placeholder="Email" type="text" formControlName="email"></ion-input>
     
  </ion-item>
  
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.required">
    Email-ID required
  </span>
 
  <span class="error ion-padding" *ngIf="isSubmitted && errorControl.email.errors?.pattern">
    Please enter Valid Email-ID
  </span>
 
  <ion-item transparent>
      
    <ion-icon name="image"></ion-icon>
   
    <ion-label class="la">Bengaluru</ion-label>
     
  </ion-item>

  
  <ion-item transparent>
      
    <ion-icon name="pin"></ion-icon>
    <!-- <img icon-small src="../../assets/11.png"> -->
    <!-- <span class="material-icons">
      email
      </span> -->
    <ion-label class="la">6999</ion-label>
     
  </ion-item>
  
 <ion-button (click)="grab()" class="ion-button-class" 
  expand="block" style="margin-top: 100px;--background: blue;">Make Payment</ion-button>
</div>
</form>
  </ion-content>
