ion-content{
 //--background: linear-gradient(#2193b0,#6dd5ed );
}
ion-toolbar{
  --background: lightgray;
  --border-color:blue;
}
*{
  font-family: 'Open Sans', sans-serif;
}
ion-card-content{
    color: black;
    font-weight: 600;
}
ion-card-header{
        color: white;
        background-color: #6dd5ed;

    }
   i{
      font-size: 32px;
       }
ion-icon{
  color: black;
}
#brief{
   // background: #0905c2!important;
     
        font-size: 20px;
      }
       // border-radius: 20px;
       // padding: 1px 1px 1px 1px;
    

.popover-content {
  background: #222;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .popover-content {
  background: #222;
}
.search-top{
 font-size:12px;
 
}
.category{
  position: absolute;
  left:20%;
}
p{
  color: #000;
}


ion-select-option{
  text-transform: capitalize;
  font-size:20px;
  --background:#67dcf7;
  color:black;
  font-weight: bold;
  
  
}
option{
  font-size: 17px;
}

select{
  text-transform: capitalize;
    font-size: 24px;
    --background: #6dd5ed;
    color: black;
    font-weight: bold;

}


ion-label{
   color: black;
    font-family: system-ui;
    font-weight: 600;
    
}

 ion-item{
  --highlight-color-focused:transparent;
  --highlight-height:0;
  --highlight-color-invalid:#000;
  --highlight-color-valid:#ddd;
  --min-height:65px;
 // --padding-start:0;
  --padding-start: 3%;
  padding: 6px 0px 0px 0px;
  margin-top: -6px;
 
}