<ion-header>
  <ion-toolbar style="--background:blue;">
    <ion-buttons slot="start">
      <ion-menu-button style="color: white;"></ion-menu-button>
      <ion-title style="color: white;font-size: 18px;">Manage Your Business</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
<ion-list>

  <ion-item [routerLink]="['/roc-return']">
    <ion-row>
    <ion-col>
    <ion-label>
    <ion-text>
    <div class="container">
    <h5 style="font-weight: 500;font-size: 18px;">ROC Return Filing for Pvt.Ltd</h5>
    </div>
    <div class="ion-text-wrap">
    <p>Easy filing in 3 days</p></div>
    </ion-text></ion-label>
    </ion-col>
    </ion-row>
    <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
    </ion-item>

    <ion-item [routerLink]="['/roc-opc']">
      <ion-row>
      <ion-col>
      <ion-label>
      <ion-text>
      <div class="container">
      <h5 style="font-weight: 500;font-size: 18px;">ROC Return Filing for OPC</h5>
      </div>
      <div class="ion-text-wrap">
      <p>Easy filing in 3 days</p></div>
      </ion-text></ion-label>
      </ion-col>
      </ion-row>
      <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
      </ion-item>

      <ion-item [routerLink]="['/roc-llp']">
        <ion-row>
        <ion-col>
        <ion-label>
        <ion-text>
        <div class="container">
        <h5 style="font-weight: 500;font-size: 18px;">ROC Return Filing for LLP</h5>
        </div>
        <div class="ion-text-wrap">
        <p>Easy filing in 2 days</p></div>
        </ion-text></ion-label>
        </ion-col>
        </ion-row>
        <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
        </ion-item>

        <ion-item [routerLink]="['/appntmnt']">
          <ion-row>
          <ion-col>
          <ion-label>
          <ion-text>
          <div class="container">
          <h5 style="font-weight: 500;font-size: 18px;">Appointment of Director</h5>
          </div>
          <div class="ion-text-wrap">
          <p>ROC compliance in 3 days</p></div>
          </ion-text></ion-label>
          </ion-col>
          </ion-row>
          <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
          </ion-item>

          <ion-item [routerLink]="['/resgntn']">
            <ion-row>
            <ion-col>
            <ion-label>
            <ion-text>
            <div class="container">
            <h5 style="font-weight: 500;font-size: 18px;">Resignation of Director</h5>
            </div>
            <div class="ion-text-wrap">
            <p>ROC compliance in 2 days</p></div>
            </ion-text></ion-label>
            </ion-col>
            </ion-row>
            <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
            </ion-item>

            <ion-item [routerLink]="['/chgaddr']">
              <ion-row>
              <ion-col>
              <ion-label>
              <ion-text>
              <div class="container">
              <h5 style="font-weight: 500;font-size: 18px;">Change In Office Address</h5>
              </div>
              <div class="ion-text-wrap">
              <p>ROC compliance in 3 days</p></div>
              </ion-text></ion-label>
              </ion-col>
              </ion-row>
              <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
              </ion-item>

              <ion-item [routerLink]="['/inc-capital']">
                <ion-row>
                <ion-col>
                <ion-label>
                <ion-text>
                <div class="container">
                <h5 style="font-weight: 500;font-size: 18px;">Increasing Capital of Company</h5>
                </div>
                <div class="ion-text-wrap">
                <p>ROC compliance in 3 days</p></div>
                </ion-text></ion-label>
                </ion-col>
                </ion-row>
                <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
                </ion-item>

                <ion-item [routerLink]="['/closure']">
                  <ion-row>
                  <ion-col>
                  <ion-label>
                  <ion-text>
                  <div class="container">
                  <h5 style="font-weight: 500;font-size: 18px;">Closure of Pvt.Ltd</h5>
                  </div>
                  <div class="ion-text-wrap">
                  <p>ROC compliance in 5 days</p></div>
                  </ion-text></ion-label>
                  </ion-col>
                  </ion-row>
                  <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
                  </ion-item>

                  <ion-item [routerLink]="['/c-opc']">
                    <ion-row>
                    <ion-col>
                    <ion-label>
                    <ion-text>
                    <div class="container">
                    <h5 style="font-weight: 500;font-size: 18px;">Closure of OPC</h5>
                    </div>
                    <div class="ion-text-wrap">
                    <p>ROC compliance in 5 days</p></div>
                    </ion-text></ion-label>
                    </ion-col>
                    </ion-row>
                    <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
                    </ion-item>

                    <ion-item [routerLink]="['/c-llp']" lines="none">
                      <ion-row>
                      <ion-col>
                      <ion-label>
                      <ion-text>
                      <div class="container">
                      <h5 style="font-weight: 500;font-size: 18px;">Closure of LLP</h5>
                      </div>
                      <div class="ion-text-wrap">
                      <p>ROC compliance in 5 days</p></div>
                      </ion-text></ion-label>
                      </ion-col>
                      </ion-row>
                      <ion-icon name="chevron-forward-outline" style="font-size: 18px;" slot="end"></ion-icon>
                      </ion-item>
  
        </ion-list>
    </ion-content>


<!-- ---------------------Footer-------------------------------------- -->
<ion-footer style="text-align: center;">
  <ion-toolbar style="--background: white;">
    <ion-grid>
      <ion-row>
        <ion-col size="4">

          <ion-icon id="brief" name="home" style="color: blue;"></ion-icon>

        </ion-col>

        <ion-col size="4">

          <ion-icon id="brief" name="wallet" [routerLink]="['/payment']" style="color: blue;"></ion-icon>

          </ion-col>

        <ion-col size="4">

          <ion-icon id="brief"  name="person" [routerLink]="['/userprofile']" style="color: blue;"></ion-icon>

        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>