ion-item{
    --highlight-color-focused:transparent;
    --highlight-height:0;
    --highlight-color-invalid:#000;
    --highlight-color-valid:#ddd;
    --min-height:65px;
   // --padding-start:0;
    --padding-start: 3%;
  }
  
  #container {
    width: 328px; 
    margin-left:auto; 
    margin-right: auto; 
  }
  .location_icon{
    font-size: 22px;
    margin: top;
    margin-top: 9px;
    
  }
  .address{
    word-spacing: 0px;
      text-align: center;
      display: block;
      font-weight: bold;
      font-size: 10px;
      color: green;
      margin: 0 auto;
      border: 1px solid #bbf7bb;
  }
  p{
    font-size: 9px;
    
    text-decoration: none;
   
    color: red;
    font-weight: 600;
  }
  ion-button{
    text-transform: capitalize;
    --background: #42d77d;
    position: relative;
    font-size: 13px;
      width: 100%;
  }
  ion-textarea{
    margin-top: 10%;
      border: 1px solid  #00c600;
      font-size:14px;
      --padding-start: 3%;
  }
  
  
  #categorytype{
    color: green;
  font-weight:500;
      font-size:18px;
  }
  ion-input{
    color:#000;
    --padding-bottom:15px;
    --padding-top:15px;
    --padding-start:5px;
  font-style: inherit;
  //  font-weight: bold;
      font-size: 14px;
      padding-left: 10px!important;
  }
  
  ion-toolbar{
    
  }
  img{
    height: 4em;
      width: 4em;
      display: block;
  }
  @media(min-height:320px){
    .center{
      position: absolute;
     left:50%;
      top:37%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }
  @media(min-height:735px){
    .center{
      position: absolute;
     left:50%;
      top:40%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }
  
  @media(min-height:812px){
    .center{
      position: absolute;
     left:50%;
      top:20%;
      -webkit-transform: translate(-49%, -49%);
      transform:  translate(-49%, -49%);
      width:90%;
    
    }
     
  }
  
  .image-container {
    min-height: 200px;
    background-size: cover;
  }
  
  @media (min-width: 0px) {
    .images {
      column-count: 2;
    }
  }
  
  @media (min-width: 420px) {
    .images {
      column-count: 3;
    }
  }
  
  @media (min-width: 720px) {
    .images {
      column-count: 4;
    }
  }
  
  .one-image {
    margin: 2px;
  }